nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#19252D;
}

li {
    float: left;
}

li { 
    display:block;
    color: #C0C0C0;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color:#C0C0C0;
}