body, html {
    margin: 0;
    padding: 0;
}

nav {
    overflow: hidden;
    background-color:#19252D;
}

nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
}

nav ul li { 
    float:left;
   
}

nav ul li a{
    display:block;
    color: #C0C0C0;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
}

nav ul li a:hover {
    color: #416071
}
   
  

